$theme-colors: (
    "primary": #795548,
    "danger": red,
    "success": green
);

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: false;
$enable-grid-classes: true;
$enable-print-styles: true;

